<a class = "top" <%= form_for @event do |f| %>
      <%= image_tag @event.pic, class: "my_pic" %>
      <div class = "post_text"> <b> Edit Sport Event</b>
        <div> Place: <%= f.text_field :place,required: true, class:"form-control mb-4"  %> </div>
        <div> Date: <%= f.date_field :date, required: true, class:"form-control mb-4" %> </div>
        <div> Time: <%= f.time_field :time, required: true, class:"form-control mb-4"  %> </div>
        <div> Price: <%= f.text_field :price, required: true, class:"form-control mb-4"  %> </div>
        <div> Description: <%= f.text_field :description,required: true, class:"form-control mb-4"  %> </div>
        <div> Image: <%= f.file_field :pic, required: true, class:"form-control mb-4" %> </div>
      <%= button_to "Update", @event, method: :patch%>
  <%end%>

<%= button_to "Delete", @event, method: :delete, data:{confirm: "Are you sure?"}%>
