<!-- Main jumbotron for a primary marketing message or call to action -->
<main role="main">
<div class="jumbotron">
  <div>
    <h1><span style="color: green">Go</span><span style="color: blue">Sports</span> <span style="color: grey">Bogota</span></h1>
  </div>
  <div class="d-flex justify-content-center">
    <%= image_tag("logo.png", width: "100", height: "100", class: "d-inline-block align-top") %>
    <div>
    <h1 class="display-3">Welcome to Bogota Sports Events</h1>
    <p> Find your favorite local sports events.</p>
    <p><a class="btn btn-primary btn-lg" href="/events/" role="button"> View All Events»</a></p>
    </div>
  </div>
    <%= link_to  "About Us", "/about", class: "badge badge-primary" %>
    <%= link_to  "Your Brand", "/pages", class: "badge badge-primary" %>
</div>

<div class="d-flex justify-content-center">
<div class="row">
<p><% @event.each do |e| %> </p>
  <div class="col-md-4">
    <div class="card-deck">
      <div class="card">
        <%= image_tag e.pic, class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title"><%= e.place %></h5>
          <p class="card-text"><%= e.date %></p>
          <p class="card-text"><%= e.time %></p>
          <p class="card-text"><%= e.price %></p>
          <p class="card-text"><%= e.description %></p>
          <%= button_to "Sign Up", "/events/#{e.id}", :method => "get", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <p></p>
    </div>
  <%end%>
  </div>
  </div>

</main>
